body {
    font-family: Arial, sans-serif;
    background: #f2f7ff;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #0056b3;
}

h2, h3 {
    color: #333;
}

form {
    background: white;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input, select {
    width: 90%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button {
    background: #007bff;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
